test_ws_wsdl/Test/TestWS/xml-resources/web-service-references/MBP-SVC-IDPServices-3.1-standard-http_binding/wsdl/MBP-SVC-IDPServices-3.1-standard-http_binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:bgcxsl="http://belgacom.be/xslt" name="MBP-IDPServices-3.1-standard" targetNamespace="urn:v3.idpservices.mbp.services.bgc" xmlns:wstns="urn:v3.idpservices.mbp.services.bgc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stdctx="urn:v4.context.vss.objects.bgc">
    <wsdl:import namespace="urn:v3.idpservices.mbp.services.bgc" location="file:///E:/MBP-SVC-IDPServices-3.1-standard-def.wsdl"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:v3.idpservices.mbp.services.bgc" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:import namespace="urn:v4.context.vss.objects.bgc" schemaLocation="file:///E:/VSS-OBJ-Context-4.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <!-- ================================================== -->
    <!-- Messages                                           -->
    <!-- ================================================== -->
    <wsdl:message name="VSSContextMessage">
        <wsdl:part name="Context" element="stdctx:Context"/>
    </wsdl:message>
    <!-- ================================================== -->
    <!-- SOAP Binding                                       -->
    <!-- ================================================== -->
    <wsdl:binding name="IDPServicesSOAPBinding" type="wstns:IDPServicesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CheckService">
            <soap:operation soapAction="CheckService" style="document"/>
            <wsdl:input name="CheckServiceInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CheckServiceOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ValidateEmailAddress">
            <soap:operation soapAction="ValidateEmailAddress" style="document"/>
            <wsdl:input name="ValidateEmailAddressInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="ValidateEmailAddressOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CollectAccountData">
            <soap:operation soapAction="CollectAccountData" style="document"/>
            <wsdl:input name="CollectAccountDataInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CollectAccountDataOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateAccount">
            <soap:operation soapAction="CreateAccount" style="document"/>
            <wsdl:input name="CreateAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateAccount">
            <soap:operation soapAction="UpdateAccount" style="document"/>
            <wsdl:input name="UpdateAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteAccount">
            <soap:operation soapAction="DeleteAccount" style="document"/>
            <wsdl:input name="DeleteAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="BridgeAccount">
            <soap:operation soapAction="BridgeAccount" style="document"/>
            <wsdl:input name="BridgeAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="BridgeAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DebridgeAccount">
            <soap:operation soapAction="DebridgeAccount" style="document"/>
            <wsdl:input name="DebridgeAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="DebridgeAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="MergeAccount">
            <soap:operation soapAction="MergeAccount" style="document"/>
            <wsdl:input name="MergeAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="MergeAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ResetPassword">
            <soap:operation soapAction="ResetPassword" style="document"/>
            <wsdl:input name="ResetPasswordInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="ResetPasswordOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ConfirmAccount">
            <soap:operation soapAction="ConfirmAccount" style="document"/>
            <wsdl:input name="ConfirmAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="ConfirmAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CollectBridgeData">
            <soap:operation soapAction="CollectBridgeData" style="document"/>
            <wsdl:input name="CollectBridgeDataInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CollectBridgeDataOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="BlockAccount">
            <soap:operation soapAction="BlockAccount" style="document"/>
            <wsdl:input name="BlockAccountInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="BlockAccountOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CollectSpecificBridgeData">
            <soap:operation soapAction="CollectSpecificBridgeData" style="document"/>
            <wsdl:input name="CollectSpecificBridgeDataInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CollectSpecificBridgeDataOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpSertSpecificBridgeData">
            <soap:operation soapAction="UpSertSpecificBridgeData" style="document"/>
            <wsdl:input name="UpSertSpecificBridgeDataInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpSertSpecificBridgeDataOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteSpecificBridgeData">
            <soap:operation soapAction="DeleteSpecificBridgeData" style="document"/>
            <wsdl:input name="DeleteSpecificBridgeDataInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSpecificBridgeDataOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CheckSkynetTokenValidity">
            <soap:operation soapAction="CheckSkynetTokenValidity" style="document"/>
            <wsdl:input name="CheckSkynetTokenValidityInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CheckSkynetTokenValidityOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CheckUserCredentials">
            <soap:operation soapAction="CheckUserCredentials" style="document"/>
            <wsdl:input name="CheckUserCredentialsInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="CheckUserCredentialsOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="MergeAccountV2">
            <soap:operation soapAction="MergeAccountV2" style="document"/>
            <wsdl:input name="MergeAccountV2Input">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="MergeAccountV2Output">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="IsMergeAllowed">
            <soap:operation soapAction="IsMergeAllowed" style="document"/>
            <wsdl:input name="IsMergeAllowedInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="IsMergeAllowedOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GrantProductRole">
            <soap:operation soapAction="GrantProductRole" style="document"/>
            <wsdl:input name="GrantProductRoleInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="GrantProductRoleOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RevokeProductRole">
            <soap:operation soapAction="RevokeProductRole" style="document"/>
            <wsdl:input name="RevokeProductRoleInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="RevokeProductRoleOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SearchAccountReferences">
            <soap:operation soapAction="SearchAccountReferences" style="document"/>
            <wsdl:input name="SearchAccountReferencesInput">
                <soap:body use="literal"/>
                <soap:header message="wstns:VSSContextMessage" part="Context" use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchAccountReferencesOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TechnicalFault">
                <soap:fault use="literal" name="TechnicalFault"/>
            </wsdl:fault>
            <wsdl:fault name="FunctionalFault">
                <soap:fault use="literal" name="FunctionalFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <!-- ================================================== -->
    <!-- Service                                            -->
    <!-- ================================================== -->
    <wsdl:service name="MBP-IDPServices-3.1-Service">
        <wsdl:port binding="wstns:IDPServicesSOAPBinding" name="MBP-IDPServices-3.1-SOAP-Port">
            <soap:address location="http://hostname.of.ssg/SSG/services/BelgacomStandardRouter/bgc.services.mbp.idpservices.v3"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
